<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pers!</title>

	<!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> -->
 
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>   -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'mydiabprod/blogstyles.css' %}">
<link rel="stylesheet" href="{% static 'mydiabprod/results.css' %}">

<script src="{% static 'mydiabprod/blogfunc.js' %} "type="text/javascript"></script>
<script src="{% static 'mydiabprod/blogfuncfooter.js' %} "type="text/javascript"></script>
<script src="{% static 'mydiabprod/loadjson.js' %} "type="text/javascript"></script>
<script src="{% static 'mydiabprod/getjson.js' %} "type="text/javascript"></script>
</head>
<body>
<div id="topcontainer">
<!--<nav class="navbar navbar-light" style="width:100%; height:60px; background-color: #8A8AB6;">--> 
 <nav class="navbar">
        <!--<div style="float:right; heigth:10%">-->
    <div class="container" id="divinnav1">
	<div class="row">
	<div class="col" style="float:left;">
        <form action="javascript:mext()" method="POST">
            <select class="custom-select custom-select" style="width:120px;height:30px;font-family:verdana;font-size:12px;" name="setting" id="setting" onchange="this.form.submit()">
                <option value=""> myDiabBlog </option>
                <option value="1"> Patient Check IN </option>
                <option value="2"> Settings a </option>
                <option value="3"> Logout </option>
            </select>
        </form>
		</div>
        <div class="col" style="float:right">
            <div class='modalsettings' style='float:right'>
                <img id='settings_navbarx' class='navbarphoto' src='{% static "mydiabprod/settings-20-xx.png" %}' style='height:28px;width:28px;'/><br>
                <div id='showfortogglex' class='modalsettingscontent'>
				<div id="prosearch" class="col-12">
				<p><a class="btn-wjs" onclick="searchaction()">search</a><p>
				<p><a>search by date</a><p>
				<p><a>three</a><p>
				<p><a>four</a><p>
				</div>
                </div>
            </div>
        </div>
		</div>
		</div>
    </nav>

 <div id="firstcontainer" class="container">
<div id="modalimagex" class="modalv">
  <span class="close">&times;</span>
  <img class="perst" alt="secureHTML" id="imagethis"/>
 <div id="captionx"></div>-
</div>
 <br>
<div id="maincover"></div>
<div class="prem" id="modalpxz">
   <!-- <div class="modal-dialog">-->
    
      <!-- Modal content-->
      <div id="contentm" class="modalzz_content">
	  <div class="col-12">
      <div class="row"> WJS Blog</div>
	  <div class="row">
	  <a href="https://www.facebook.com/tutejsze/" target="_blank"><img class='topmodals' src='{% static "mydiabprod/flickr.ico" %}' /></a>
	  <a href="https://www.facebook.com/tutejsze/" target="_blank"><img class='topmodals' src='{% static "mydiabprod/rss.ico" %}' /></a>
	  <a href="https://www.facebook.com/tutejsze/" target="_blank"><img class='topmodals' src='{% static "mydiabprod/skull.ico" %}' /></a>
      </div>
	    </div>
	  </div>
	  </div>
 <br>      
 {% csrf_token %}
 <div id="innertextcontainer" class="parole">
 {% if html_loop %}


	  {% for result in html_loop %}

	<br>
	  <div id='div@{{result.id}}' style="border-bottom:0.3px solid #e3edf2">
	<div class="row">
	<div class="col-6">
	<div style="float:left">
	<b style="font-family:Calibri;font-size:18px;">{{result.BlogName}}</b>
	<p style="font-family:Calibri;font-size:15px;font-style:oblique">posted by {{result.BlogOwner}}</p>
	</div></div>
	<div class="col-6">
	{% if user_role == 'admin' %}
	{% if result.is_private == True %}
	<p style="float:right" id="p{{result.id}}">
	    <img class='trashy' id='trashpost{{result.id}}' src='{% static "mydiabprod/delete-32.ico" %}'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock' src='{% static "mydiabprod/padlock_redd.ico" %}'/>
		<img id='privatemake{{result.id}}' class='privpadlock' src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}' style='display:none' />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}'  style='display:none'/>
    </p>
	{% elif result.is_private == False %}
	<p style="float:right;" id="p{{result.id}}">
	    <img id='trashpost{{result.id}}' class='trashy'  src='{% static "mydiabprod/delete-32.ico" %}'/>
		<img id='publicmake{{result.id}}' class='publicpadlock' src='{% static "mydiabprod/padlock_redd.ico" %}' style='display:none'/>
	    <img id='privatemake{{result.id}}' class='privpadlock' src='{% static "mydiabprod/padlock_green.ico" %}' />
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}' style='display:none' />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}' style='display:none'/>
        
    </p>
    {% endif %}
	{% elif user_role == 'superuser' %}
	{% if result.is_private == True %}
	{% if result.AdminRight == 'A' %}
		<p style="float:right; padding-top:5px;" id="p{{result.id}}">
	    <img id='trashpost{{result.id}}' class='trashy'  src='{% static "mydiabprod/delete-32.ico" %}' style='display:none'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock'  src='{% static "mydiabprod/padlock_redd.ico" %}'  style='display:none'/>
		<img id='privatemake{{result.id}}' class='privpadlock'  src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}' style='display:none' />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}' />
     </p>
	{% elif result.AdminRight == 'S' or result.AdminRight == 'R' %}
    <p style="float:right; padding-top:5px;" id="p{{result.id}}">
	    <img id='trashpost{{result.id}}' class='trashy'  src='{% static "mydiabprod/delete-32.ico" %}'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock' src='{% static "mydiabprod/padlock_redd.ico" %}'/>
		<img id='privatemake{{result.id}}' class='privpadlock'  src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}'  style='display:none' />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}' style='display:none'/>
    </p>
	{% endif %}
	{% elif result.is_private == False %}
	{% if result.AdminRight == 'A' %}
		<p style="float:right; padding-top:5px;" id="p{{result.id}}">
	    <img id='trashpost{{result.id}}' class='trashy'  src='{% static "mydiabprod/delete-32.ico" %}' style='display:none'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock'  src='{% static "mydiabprod/padlock_redd.ico" %}' style='display:none'/>
		<img id='privatemake{{result.id}}' class='privpadlock'  src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}' />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}'  style='display:none'/>
     </p>
	{% elif result.AdminRight == 'S' or role_check == 'R' %}
    <p style="float:right; padding-top:5px;" id="p{{result.id}}">
	    <img id='trashpost{{result.id}}' class='trashy'  src='{% static "mydiabprod/delete-32.ico" %}'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock' src='{% static "mydiabprod/padlock_redd.ico" %}' />
		<img id='privatemake{{result.id}}' class='privpadlock'  src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}'  style='display:none' />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}'  style='display:none'/>
    </p>
	{% endif %}
    {% endif %}
	{% elif user_role == 'visitor' and postowner == result.BlogOwner %}
	{% if result.is_private == True %}
	<p style="float:right; padding-top:5px;" id="p{{result.id}}">
	    <img id='trashpost{{result.id}}' class='trashy' src='{% static "mydiabprod/delete-32.ico" %}' />
	    <img id='publicmake{{result.id}}' class='publicpadlock'  src='{% static "mydiabprod/padlock_redd.ico" %}' />
		<img id='privatemake{{result.id}}' class='privpadlock'  src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}'  style='display:none' />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}' style='display:none'/>
    </p>
	{% elif result.is_private == False %}
	{% if result.AdminRight == 'A' or result.AdminRight == 'S' %}
		<p style="float:right" id="p{{result.id}}">
	    <img id='trashpost{{result.id}}' class='trashy'  src='{% static "mydiabprod/delete-32.ico" %}' style='display:none'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock' src='{% static "mydiabprod/padlock_redd.ico" %}' style='display:none'/>
		<img id='privatemake{{result.id}}' class='privpadlock'  src='{% static "mydiabprod/padlock_green.ico" %}'  style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}'   />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}'  style='display:none'/>
     </p>
	{% elif result.AdminRight == 'R' %}
    <p style="float:right; padding-top:5px;" id="p{{result.id}}">
	    <img id='trashpost{{result.id}}' class='trashy'  src='{% static "mydiabprod/delete-32.ico" %}'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock'  src='{% static "mydiabprod/padlock_redd.ico" %}' />
		<img id='privatemake{{result.id}}' class='privpadlock'  src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}'class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}' style='display:none' />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}' style='display:none'/>
    </p>
	{% endif %}
	{% endif %}
	{% elif user_role == 'visitor' and not postowner == result.BlogOwner %}
	
	{% if result.AdminRight == 'A' or result.AdminRight == 'S' %}
		<p style="float:right" id="p{{result.id}}">
	    <img id='trashpost{{result.id}}' class='trashy' src='{% static "mydiabprod/delete-32.ico" %}' style='display:none'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock' src='{% static "mydiabprod/padlock_redd.ico" %}' style='display:none'/>
		<img id='privatemake{{result.id}}' class='privpadlock'  src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}'  />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}'  style='display:none'/>
     </p>
	{% elif result.AdminRight == 'R' %}
	<script>
	alert("result owner : " +'{{result.BlogOwner}}');
	</script>
	<p style="float:right" id="p{{result.id}}">
        <img id='trashpost{{result.id}}' class='trashy' src='{% static "mydiabprod/delete-32.ico" %}' style='display:none'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock' src='{% static "mydiabprod/padlock_redd.ico" %}' style='display:none'/>
		<img id='privatemake{{result.id}}' class='privpadlock'  src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}'  />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}' style='display:none'/>
    </p>
	{% endif %}
	{% elif user_role == 'public' %}
	<p style="float:right; padding-top:5px; id="p{{result.id}}"><!--don't display option-->
	    <img id='trashpost{{result.id}}' class='trashy'  src='{% static "mydiabprod/delete-32.ico" %}' style='display:none'/>
	    <img id='publicmake{{result.id}}' class='publicpadlock' src='{% static "mydiabprod/padlock_redd.ico" %}' style='display:none'/>
		<img id='privatemake{{result.id}}' class='privpadlock' src='{% static "mydiabprod/padlock_green.ico" %}' style='display:none'/>
		<img id='publicpad{{result.id}}' class='unlocky' src='{% static "mydiabprod/unlock-32.ico" %}' />
		<img id='privpad{{result.id}}' class='locky' src='{% static "mydiabprod/lock.ico" %}' style='display:none'/>
     </p>
	 {% endif %}
	
	
	</div>
		</div>
		    <div class="html_from_django">
	            <!--<p style="padding-left:1px;font-size:12px;font-style:oblique"> {{forloop.counter}}:{{result.BlogEntry}}</p>-->
				<p style="padding-left:1px;font-size:12px;font-style:oblique"> {{result.BlogEntry}}</p>
	            <br>
	            <p class="fontisx" id="django_html_upload{{result.id}}" style="padding-left:10px;"> {{result.BlogHtml|safe}} </p>
                <br>
				</div>
			<!--	<div class="container" style="padding-left:10px; padding-right:10px">
				<div class="row" style="padding-top:12px; padding-bottom:12px;padding-left:10px; padding-right:10px;border-top:0.3px solid #e3edf2">
	<textarea class="textareacomment" placeholder="add comment..."> </textarea>
	</div>
    <div>
	<a class="button-wjs-grey" href="#" >add</a>
	</div></div>-->
    <br>
	
	<!--<div class="row" style="float:right">
	<br>
	<br>
	<button type="submit" class="btn btn-info btn-sm" value="postblog">Delete comment</button>
	<br>
	<br>
	<br>
	</div>-->
	</div>
	<script>
	if ($('img')) {
	$('.html_from_django img').attr('class', 'innerimage');
	$('.html_from_django img').attr('alt', 'from_summernote');
	$('.trashy').attr('alt', 'sequence');
	$('.publicpadlock').attr('alt', 'sequence');
	$('.privpadlock').attr('alt', 'sequence');
	$('.unlocky').attr('alt', 'sequence');
	$('.locky').attr('alt', 'sequence');
	$('.topmodals').attr('alt', 'sequence');
	$('.navbarphoto').attr('alt', 'sequence');
	
	}
	</script>
	{% endfor %}
	<br><br>
		<div class="row">

	{% if html_loop.has_previous %}
	<div class="col-1" style="float:left">
	</div>
	<div class="col-4" style="float:left">
	<div style="display:inline">
		<a class="button-wjs-green"  href="?page=1">first</a>
      <a class="button-wjs-green" href="?page={{ html_loop.previous_page_number }}">prev</a>
    </div></div>
	{% endif %}
	{% if not html_loop.has_previous %}
	<div class="col-1" style="float:left">
	</div>
	<div class="col-4" style="float:left">
	<div style="display:inline">
  <a class="button-wjs-red"  href="#">first</a>
      <a class="button-wjs-red" href="#">prev</a>
     </div></div>
	
	{% endif %}
	<div class="col-2" id="pagingatortotal">
	Page {{ html_loop.number }} of {{ html_loop.paginator.num_pages }}.
	</div>
	{% if html_loop.has_next %}
	 <div class="col-4" style="float:right">
	 <div style="display:inline">
     <a class="button-wjs-green" href="?page={{ html_loop.next_page_number }}">next</a>
	 <a class="button-wjs-green" href="?page={{ html_loop.paginator.num_pages }}">last</a>
	 	</div></div>
		  <div class="col-1" style="float:right">
	</div>
	{% endif %}
		{% if not html_loop.has_next %}
		<div class="col-4" style="float:right">
		<div style="display:inline">
     <a class="button-wjs-red" href="#">next</a>
	 <a class="button-wjs-red" href="#">last</a>
	 </div>
	 </div>
	 	 <div class="col-1" style="float:right">
	</div>
		{% endif %}
	 </div>
	 <br>
	 <br>
	 	
	{% else %}
            <p>No polls are available.</p>

            {% endif %}
			</div>

	</div><br>
	<br><br>
 </div>
</body>
</html>