
<div class="container" style="padding-bottom:10px;padding-top:10px">
<p>Specify advanced search option</p>
<br>
<div class="firx" id="standard_viewport">
<form id="get_search1">
<div class="row" style="padding-top:1%">
<div class="col-3">
<select class="custom-select custom-select" id="sselector1">
  <option label="select options" value="nix"></option>
  <option label="search by tag" value="BlogHash"></option>
  <option label="search by keyword" value="BlogEntry"></option>
  <option label="search by author" value="BlogOwner"></option>
  <option label="search by title" value="BlogName"></option>
</select>

</div>
<div class="col-9">
<div id="searchfunc">
<!--<div class="row">-->
  <!--  <div class="col-4" style="padding-left:0.1%">
        <p class="searchtextoptimizer" id="stextoptimizer1">Please enter search argument</p>
    </div> -->
        <div class="row">
                    <div class="col-7">
                <input type="text" class="searchtextforselect" name="soptionselect" id="searchinput1"/>
                        </div>
                <div class="col-2">
                   <button class="button-wjs-search" value=1>search</button>
                </div>
				<div class="col-3"></div>
            </div>
<!--</div>-->
</div>
<br>
</div>
</div>
</form>
</div>
<div class="portraisearch" id="portrait_viewport">

<form id="get_search2">
<div>
<select class="custom-select custom-select" id="sselector2">
  <option label="select options" value="nix"></option>
  <option label="search by tag" value="BlogHash"></option>
  <option label="search by keyword" value="BlogEntry"></option>
  <option label="search by author" value="BlogOwner"></option>
  <option label="search by title" value="BlogName"></option>
</select>

<div style="padding-top:1%">
<!--<div>
<p class="searchtextoptimizer" id="stextoptimizer2">Please enter search argument</p>
</div>-->
<div style="padding-top:12px;padding-bottom:5px">
<input type="text" name="soptionselect" class="searchtextforselect" id="searchinput2">
</div>
<div style="padding-bottom:25px;padding-top:7px">
<button class="button-wjs-search" value=2>search</button>
</div>
</div>
</div>
</form>
</div>
<div class="landscapesearch" id="landscape_viewport">
<form id="get_search3">
<div class="row">
<div class="col-5">
<div>
<select id="sselector3" class="custom-select custom-select">
  <option label="select options" value="nix"></option>
  <option label="search by tag" value="BlogHash"></option>
  <option label="search by keyword" value="BlogEntry"></option>
  <option label="search by author" value="BlogOwner"></option>
  <option label="search by title" value="BlogName"></option>
</select>
</div>

</div>
    <div class="col-7">
        <!--<div id="searchfunc" style="display:inline">-->
         <div class="row">
            <!--<div class="col-6" style="padding-left:1px">
                <p class="searchtextoptimizer" id="stextoptimizer3">Please enter argument</p>

			</div>-->
			<div class="col-7">
			<div style="float:left">
			<input type="text" name="soptionselect" class="searchtextforselect" id="searchinput3" style="width:115%">
			</div>
            <!--<div style="float:right; padding-right:3%; padding-top:4%">
           </div>-->
           </div>
		   <div class="col-5"><button class="button-wjs-search" value=3>search</button></div>
			</div> 
		</div>
<!--</div>-->
<br>
</div>
</form>
</div>
</div>
<script>
//$("select.searchselector").change(function(){
//var optimizer = $(this).children("option:selected").val();
//$(".searchtextoptimizer").empty();
//$(".searchtextoptimizer").append("Please enter "+optimizer);
//$("#stextoptimizer1").append("Please enter "+optimizer);
//$("#stextoptimizer2").append("Please enter "+optimizer);
//$("#stextoptimizer3").append("Please enter "+optimizer);

//});
$('.button-wjs-search').click(function(event) {
event.preventDefault;
var ints = $(this).attr('value');
alert("first value:"+ints);
var searchselect = $('#sselector'+ints).children('option:selected').val();
alert("2nd value:"+searchselect);

var searchinput = $('#searchinput'+ints).val();
alert("2nd value:"+searchinput);

lookforjson(searchselect,searchinput,ints);
$('#searchinput'+ints).val ='';
return false;

//uploadjson();
});
function lookforjson(searchselect, searchinput,ints) {
		alert("function lookforjson");
		var csrftoken = getCookie('csrftoken');
   
	$.ajax({
                url: "/mydiabprod/searchblogx/",
                headers: {"X-CSRFToken":csrftoken},
                type: "GET",
                data: {'searchselect':searchselect, 'searchinput':searchinput},
                success: function(jsondata) {
				//var external = JSON.parse(data);
                //external.map(function(x) {
				//return console.log(x.testx);
				console.log('response from django');
				$('#searchinput'+ints).val('');
				var es = 'nix';
				$('#sselector'+ints).val(es);
                alert('going to load data received');
                uploadjson(jsondata);
				}
				});
				
}
</script>
<div class="appender_results" id="appendresults" style="padding-top:12px">
</div>

