<html>
<title>myDiab.com</title>
<body bgcolor="#FFFFFF" style="font-family:tahoma;font-size:10px;color:#515971;">
<div>
</br>
<form action="{% url 'mydiabprod:pers' %}"  method="post">
{% csrf_token %}
<div align="right">
<p>Username: <input type="text" name="username" size="15"/></p>
<p>Password: <input type="password" name="password" size="15"/> </p>
</div>
<div align="right"> <input type="submit" value="login" style="font-family:tahoma;font-size:10px;color:#515971;"/> </div>
</form>
<p style="font-family:tahoma;font-size:10px;color:#cc3300;" align="right"> {{text1}}</p>
</div>

</body>
</html>
