<div class="container" style="padding-bottom:10px;padding-top:10px">
<p id="topsearchlabel" style="font-size:14px">get myBlog/myDiab account</p>
<br>
<div class="afirx" id="1standard_viewport">
<div class="row">

<div class="col-6">
<p>
<img src="/static/mydiabprod/register_cover.jpg" alt="previous post" style="opacity:0.7;margin:auto"/>
</p>
</div>
<div class="col-5" style="padding-top:4px">
<form autocomplete="off">
<div class="row">
<div class="col-6">
<div class="mainfirstnames" data-toggle="tooltip" title="Firstname" >
<input class="form-control" onfocusout="firstnames()" type="text" placeholder="firstname" /></div>
<script>
//$(document).ready(function(){
 // $('[data-toggle="tooltip"]').tooltip();   
  // $("#mainfirstnames").hover(function () {
 //   
//});  
//});
</script>
</div>
<div class="col-6">
<div class="mainlastnames" data-toggle="tooltip" title="lastname">
<input class="form-control" onfocusout="lastnames()"  type="text"  placeholder="lastname" />
</div>
</div>
</div>
<br>
<div class="usernames" data-toggle="tooltip1" data-placement="left" title="plese select sugested username otherwise try include other">
<input class="form-control" type="text" onfocusout="usernames()"  placeholder="username" />
</div>
<br>
<div class="emails" data-toggle="tooltip2" data-placement="left" title="incorrect email" >
<input class="form-control"  type="text" autocomplete="off" onfocusout="emails()" placeholder="email" />
</div>
<br>
<div class="passwords" data-toggle="tooltip3" data-placement="left" title="Your password must be at least 8 characters long and include at least one special character like * or !">
<input class="form-control" type="password" autocomplete="off" onfocusout="passwords()" placeholder="password" />
</div>
<br>
<div class="repasswords">
<input class="form-control" type="password" onfocusout="repaswords()" placeholder="retype password"  />
</div>
<br>
<br>
<div class="row">
<div class="col-4">
<button class="button-wjs-account">sign up</button>
</div>
<div class="col-4"></div>
<div class="col-4"></div>
</div>
</form>
</div>
<div class="col-1"></div>

</div>
</div>
<div class="aportraisearch" id="1portrait_viewport" >
<div class="row">
<div class="col-1"></div>
<div class="col-10" style="padding-top:4px">
<div class="pufirstnames">
<input class="form-control"  type="text" placeholder="firstname" onfocusout="portraitfirstnames()"/>
</div>
<br>
<div class="pulastnames">
<input class="form-control" type="text" placeholder="lastname" onfocusout="portraitlastnames()"/>
</div>
<br>
<div class="punames">
<input class="form-control" type="text" placeholder="username" onfocusout="portraitusernames()"/>
</div>
<br>
<div class="puemails">
<input class="form-control" type="text" placeholder="email" onfocusout="portraitemails()"/>
</div>
<br>
<div class="pupass">
<input class="form-control" type="password" placeholder="password" onfocusout="portraitpasswords()"/>
</div>
<br>
<div class="purepass">
<input class="form-control" type="password"  placeholder="retype password" onfocusout="portraitrepaswords()"/>
</div>
<br>
<div class="row">
<div class="col-6">
<button class="button-wjs-portrait">sign up</button>
</div>
<div class="col-6"></div>
</div>
</div>
<div class="col-1"></div>
</div>
</div>
<div class="alandscapesearch" id="1landscape_viewport" >
<div class="row">
<div class="col-1"></div>
<div class="col-10" style="padding-top:4px">
<div class="row">
<div class="col-6">
<div class="lafirstn">
<input class="form-control"  type="text" placeholder="firstname" onfocusout="landscapefirstnames()" />
</div>
</div>
<div class="col-6">
<div class="lalastn">
<input class="form-control" type="text"  placeholder="lastname" onfocusout="landscapelastnames()" />
</div>
</div>
</div>
<br>
<div class="launm">
<input class="form-control" id="globalusernames" type="text" placeholder="username" onfocusout="landscapeusernames()"/>
</div>
<br>
<div class="laemails">
<input class="form-control" type="text" placeholder="email" onfocusout="landscapemails()" />
</div>
<br>
<div class="lapass">
<input class="form-control" type="password" placeholder="password" onfocusout="landscapepasswords()"/>
</div>
<br>
<div class="larepass">
<input class="form-control" type="password" placeholder="retype password" onfocusout="landscaperepaswords()"/>
</div>
<br>
<div class="row">
<div class="col-6">
<button class="button-wjs-landscape" >sign up</button>
</div>
<div class="col-6"></div>
</div>
</div>
<div class="col-1"></div>
</div>
</div>
</div>

<script>


</script>